.filmInfoBox {
  display: flex;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.filmInfoBox > img {
  padding-right: 20px;
}

.filmInfoBoxMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 500px;
}

.filmInfoBoxMain > button {
  margin: 0;
}

.filmInfoBoxItem {
  width: inherit;
}

.listItem > img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  padding: 0;
}

.additionalInfo {
  text-align: center;
}

.additionalInfo .title {
  margin-bottom: 20px;
}

.additionalInfoList {
  display: flex;
  justify-content: center;
}
